<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="wrapper row3">
    <main class="container clear">
        <form class="row" method="post" action="/board/board_update_ok">
            <h2 class="sectiontitle">수정하기</h2>
            <input type="text" name="subject" style="line-height: 30px; height: 30px; font-size: 15px; padding-left: 20px; width: 100%;" placeholder="제목을 입력하세요" required th:value="${vo.subject}">
            <input type="text" name="name" style="line-height: 30px; height: 30px; font-size: 15px; padding-left: 20px; width: 100%; margin-top: 20px;" placeholder="이름을 입력하세요" required th:value="${vo.name}">
            <input type="hidden" name="no" th:value="${vo.no}">
            <input type="password" name="pwd" style="line-height: 30px; height: 30px; font-size: 15px; padding-left: 20px; width: 100%; margin-top: 20px;" placeholder="비밀번호를 입력하세요" required>
            <textarea name="content" style="width: 100%; height: 100px; margin-top: 10px; padding: 10px;" th:text="${vo.content}"></textarea>
            <div class="text-center" style="margin-top: 30px;">
                <button class="btn btn-lg btn-danger">수정</button>
            </div>
        </form>
    </main>
</div>
</body>
</html>